.closed {
  min-width: 80px;
  max-width: 80px;
  transition: 1s ease;
}

.childElements {
  height: 100%;
}

.dashboard {
  z-index: 1;
  color: #fff;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  background: linear-gradient(340deg, #30b9f5 10.35%, #248ed0 100.76%);
  align-items: center;

  .selector {
    display: none;
  }

  .logoHolder {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    img {
      width: 40px;
      height: 40px;
    }
    p {
      display: none;
      margin-top: 12px;
      color: #fff;
      font-size: 19px;
      font-weight: 900;
    }
  }
  .userHolder {
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 80px;
    img {
      width: 40px;
      height: 40px;
    }
    p {
      display: none;
    }
  }
  .icons {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .iconHolder {
      .selector {
        .arrow-closed {
          display: none;
        }
        .arrow-open {
          display: none;
        }
        p {
          color: rgba(255, 255, 255, 0);
          width: 0px;
          height: 0px;
          overflow: hidden;
        }
        .icon {
          width: 28px;
          height: 28px;
        }
      }
      .dashboard-option-open {
        display: flex;
        height: 0px;
        width: 0px;
        .dash-option {
          p {
            width: 100%;
            height: 0px;
            color: rgba(255, 0, 0, 0);
          }
        }
      }
    }
  }
  .lockHolder {
    display: none;
  }
}

.dashboard:hover,
.open {
  min-width: 300px;
  max-width: 300px;
  transition: 1s;
  .logoHolder {
    img {
      width: 50px;
      height: 50px;
    }
    p {
      display: block;
      margin-top: 12px;
      color: #fff;
      font-size: 19px;
      font-weight: 900;
    }
  }
  .userHolder {
    margin-top: 50px;
    width: 100%;
    height: 110px;
    img {
      width: 50px;
      height: 50px;
    }
    p {
      display: block;
      color: #fff;
      margin-top: 10px;
      width: 240px;
      font-size: 18px;
      font-weight: 900;
      text-align: center;
    }
  }
  .icons {
    margin-top: 50px;
    width: 100%;
    .iconHolder {
      .selector {
        width: 100%;
        .arrow-closed {
          display: block;
        }
        .arrow-open {
          display: block;
        }
        p {
          transition: 1s;
          color: #FFF;
          width: 100%;
          height: 100%;
          overflow: visible;
          display: block;
        }
      }
      .dashboard-option-open {
        height: auto;
        width: auto;
        display: flex;
        .dash-option {
          min-height: 38px;
          p {

            transition: 2s;
            width: 100%;
            overflow: hidden;
            color: #FFF;
          }
        }
      }
      .dashboard-option-closed {
        display: flex;
      }
    }

  }
  .lockPlacer {
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
    .lockHolder {
      height: 50px;
      width: 50px;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 50px;
      margin-bottom: 50px;
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
  .lockHolder:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}

.pageRight {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
